* {
    text-align: center;
    font-size: 23px;
}

h1 {
    margin-top: 40px;
}

.hide{
    display: none ;
}

#homeNav {
    margin-top: 20px;
}

#homeNav, #rating-button, #resultsNav {
    border-radius: 10px;
}

#idstart-button {
    margin-top: 100px;
}

.button {
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


.button-row {
    display: flex;
    justify-content: center;
}

canvas {
    margin-left: 300px;
    margin-right: 300px;

  }

.red {
    background-color: red;
    border-radius: 10px;
}

.blue {
    background-color: blue;
    border-radius: 10px;
}

.green {
    background-color: green;
    border-radius: 10px;
}

.yellow {
    background-color: yellow;
    border-radius: 10px;
}

@media (max-width: 600px) {

    .button-row {
        display: block;
    }

    .button {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 600px) {

    .button-row {
        display: block;
    }

    .button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .nav {
        text-align: center;
        margin-top: 10px;
    }

    #homeNav, #resultsNav {
        display: block;
        margin: 10px auto;
    }
}