* {
    text-align: center;
    font-size: 25px;
    
}
.hide{
    display: none ;
}

#homeNav{
    margin-top: 20px;
    margin-right: 100px;
}

#resultsNav{
    text-align: right;
}

.button {
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


.button-row {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}